In [ ]:
import json
import pandas as pd
import numpy as np

In [11]:
with open("../personas.json", 'r', encoding='utf-8') as json_file:
    personas = json.load(json_file)

In [12]:
personas[0]

{'age': 26,
 'gender': 'mann',
 'kids': True,
 'occupation': 'pensjonert/uføretrygdet',
 'persona_str': 'Du er en mann som er 26 år, har barn og er pensjonert/uføretrygdet. Du skal svare på en spørreundersøkelse sånn som denne personen ville gjort. Svar bare ett alternativ.'}

In [21]:
llama3 = pd.read_json('../results_manual_processing/llama3/combined_llama3.json', orient="index")
llama3_2 = pd.read_json('../results_manual_processing/llama3_2/combined_llama3_2.json', orient="index")
mistral = pd.read_json('../results_manual_processing/mistral/combined_mistral.json', orient="index")
mistral2 = pd.read_json('../results_manual_processing/mistral2/combined_mistral2.json', orient="index")
normistral = pd.read_json('../results_manual_processing/normistral/combined_normistral.json', orient="index")
normistral2 = pd.read_json('../results_manual_processing/normistral2/combined_normistral2.json', orient="index")
norwAI = pd.read_json('../results_manual_processing/norwAI_mistral/combined_norwAI.json', orient="index")
norwAI2 = pd.read_json('../results_manual_processing/norwAI_mistral2/combined_norwAI2.json', orient="index")

In [22]:
llama3.head()

,Spm1,Spm2,Spm3,spm6_1,spm6_2,spm6_3,spm6_4,spm6_5,spm6_6,spm6_7,...,Spm48e,Spm48f,Spm48g,Spm51a,Spm51b,Spm51c,Spm51d,Spm51e,Spm51f,Spm51g
0,2,2,2,4,5,6,5,4,7,1,...,2,5,5,5,1,3,5,5,5,2
1,2,2,2,5,5,5,5,5,5,4,...,2,5,2,5,1,2,5,2,5,2
2,2,2,2,5,5,5,5,4,3,1,...,2,5,4,5,1,2,5,4,5,2
3,2,2,2,2,2,2,5,3,3,2,...,1,5,1,5,1,3,5,5,5,2
4,2,2,2,3,3,5,5,4,3,3,...,1,5,1,5,1,3,5,5,5,2

In [23]:
def get_persona_attribute(persona_key, attribute_key, dictionary):
    return dictionary[persona_key][attribute_key]

def convert_age(age):
    if age <= 30:
        return 1
    elif age <= 50:
        return 2
    else:
        return 2
    
def convert_gender(gender_str):
    if gender_str == "mann":
        return 1
    else:
        return 2
    
def convert_occupation(occ_str):
    if occ_str == "I arbeid":
        return 1
    elif occ_str == "student":
        return 2
    elif occ_str == "pensjonert/uføretrygdet":
        return 3
    elif occ_str == "arbeidsledig":
        return 5
    
def convert_kids(has_kids):
    if has_kids:
        return 1
    else:
        return 2

In [24]:
age_list = [convert_age(get_persona_attribute(i, "age", personas)) for i in range(120)]
gender_list = [convert_gender(get_persona_attribute(i, "gender", personas)) for i in range(120)]
occupation_list = [convert_occupation(get_persona_attribute(i, "occupation", personas)) for i in range(120)]
kids_list = [convert_kids(get_persona_attribute(i, "kids", personas)) for i in range(120)]

In [25]:
print(age_list)
print(gender_list)
print(occupation_list)
print(kids_list)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]
[1, 2, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 2, 1, 1, 1, 2, 1, 1, 2, 2, 2, 2, 1, 2, 2, 1, 1, 2, 1, 2, 2, 2, 1, 2, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 2, 1, 2, 1, 1, 2, 2, 2, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 2, 2, 2, 1, 1, 1, 2, 1, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 1, 1]
[3, 2, 5, 1, 1, 1, 1, 2, 2, 1, 5, 5, 3, 2, 3, 5, 2, 3, 3, 1, 3, 2, 1, 5, 2, 1, 5, 1, 5, 3, 3, 1, 2, 5, 5, 3, 2, 2, 5, 3, 3, 5, 2, 2, 5, 3, 1, 5, 2, 3, 1, 2, 1, 2, 3, 3, 1, 5, 1, 2, 3, 3, 5, 5, 2, 1, 3, 3, 3, 2, 1, 1, 5, 5, 1, 2, 2, 5, 1, 5, 5, 3, 1, 5, 3, 1, 1, 1, 5, 2, 2, 1, 3, 2, 3, 2, 2, 3, 1, 1, 2, 3, 2, 5, 3, 5, 1, 5, 5, 2, 5, 3, 5, 3, 2, 2, 1, 3, 1, 5]
[1, 2, 1, 2, 2, 2, 1, 2, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 2, 2, 2, 1, 2, 2, 1, 1, 1, 2, 1, 2, 2, 1, 2, 2, 1, 2, 1, 1, 2, 1, 1, 2, 2, 2, 1, 2, 2, 1, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 1, 2, 1, 1, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 2, 2, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 2, 2, 1, 2]

In [26]:
all_dfs =[llama3, llama3_2, mistral, mistral2, normistral, normistral2, norwAI, norwAI2]
for df in all_dfs:
    df["Kjonn"] = gender_list
    df["alder3"] = age_list
    df["Bak3a"] = occupation_list
    df["Bak2a"] = kids_list

In [ ]:
normistral.replace("UNKNOWN", np.nan, inplace = True)
normistral.head()

,Spm1,Spm2,Spm3,spm6_1,spm6_2,spm6_3,spm6_4,spm6_5,spm6_6,spm6_7,...,Spm51b,Spm51c,Spm51d,Spm51e,Spm51f,Spm51g,Kjonn,alder3,Bak3a,Bak2a
0,4,3,3,3,UNKNOWN,3,UNKNOWN,1,1,UNKNOWN,...,1,5,1,1,1,1,1,1,3,1
1,1,3,2,7,3,7,5,8,UNKNOWN,4,...,UNKNOWN,2,UNKNOWN,1,5,2,2,1,2,2
2,3,1,UNKNOWN,1,1,8,5,7,2,UNKNOWN,...,UNKNOWN,UNKNOWN,UNKNOWN,2,None,1,2,1,5,1
3,1,1,1,UNKNOWN,3,7,5,7,3,3,...,1,UNKNOWN,UNKNOWN,1,UNKNOWN,2,1,1,1,2
4,3,1,UNKNOWN,7,2,3,UNKNOWN,3,2,1,...,UNKNOWN,UNKNOWN,None,1,2,UNKNOWN,1,1,1,2